<div class="m-2 mt-4">
    <form [formGroup]="formTaskRelate" novalidate autocomplete="off" class="p-card-body">
      <label for="estado">Estado</label>
      <input id="estado" type="text" formControlName="status" class="p-inputtext ml-1">
      <p-button styleClass="p-button-success p-button-sm p-button-rounded p-button-text m-1" pTooltip="Buscar"
      matTooltipPosition="above" (click)="listTask()">
      <mat-icon>search</mat-icon>
    </p-button>
    </form>
  </div>
  <p-table [value]="task" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Tareas
        <p-button label="Nuevo" class="ml-auto" styleClass="p-button-rounded p-button-sm" pTooltip="Nuevo"
          matTooltipPosition="above" (click)="saveTaskRelateDialog()">
          <mat-icon>add</mat-icon>
        </p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha inicio</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Opciones</th>
      </tr>
    </ng-template>
    <ng-template class="align-items-center" pTemplate="body" let-product>
      <tr>
        <td class="text-center">{{product.name}}</td>
        <td class="text-center">{{product.date| fechaFormatAMD}}</td>
        <td class="text-center">{{product.state}}</td>
        <td class="text-center flex">
  
          <p-button styleClass="p-button-warning p-button-sm p-button-rounded p-button-text m-1" pTooltip="Editar"
            matTooltipPosition="above" (click)="editTaskRelateDialog(product)">
            <mat-icon>edit</mat-icon>
          </p-button>
  
          <p-button styleClass="p-button-danger p-button-sm p-button-rounded p-button-text m-1" pTooltip="Eliminar"
            matTooltipPosition="above" (click)="deleteTaskDialog(product)">
            <mat-icon>delete</mat-icon>
          </p-button>

          <p-button styleClass="p-button-danger p-button-sm p-button-rounded p-button-text m-1" pTooltip="Ver"
            matTooltipPosition="above" (click)="detailTaskRelateDialog(product)">
            <mat-icon>search</mat-icon>
          </p-button>

          <p-button styleClass="p-button-danger p-button-sm p-button-rounded p-button-text m-1" pTooltip="completado"
            matTooltipPosition="above" (click)="changeStatusTask(product)">
            <mat-icon>check</mat-icon>
          </p-button>
  
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total: {{task ? task.length : 0 }} productos.
      </div>
    </ng-template>
  </p-table>
  