<ng-container *ngIf="formAddTask">
  <p-card role="region" [style]="{ width: '600px' }">
    <form [formGroup]="formAddTask" novalidate autocomplete="off" class="p-card-body">
      <div>
        <h2 class="p-dialog-title">Nueva tarea</h2>
      </div>
      <div class="p-dialog-content p-fluid p-mb-3">
        <div class="p-field m-1">
          <label for="name">Nombre</label>
          <input id="name" type="text" formControlName="name" class="p-inputtext">
          <div class="p-invalid span-no-margin">
            <ng-container *ngIf="formAddTask.controls['name'].invalid && formAddTask.controls['name'].touched">
              <span *ngIf="formAddTask.controls['name'].errors?.['required']" class="text-red-500 scalein animation-duration-500 text-sm relative flex z-0">
                Este campo es requerido
              </span>
              <span *ngIf="formAddTask.controls['name'].errors?.['pattern']" class="text-red-500 scalein animation-duration-500 text-sm relative flex z-0">
                Solo se permiten letras, números, espacios y los dos puntos (:)
              </span>
              <span *ngIf="formAddTask.controls['name'].errors?.['maxlength']" class="text-red-500 scalein animation-duration-500 text-sm relative flex z-0">
                No se permiten mas de 20 carateres
              </span>
            </ng-container>
          </div>
        </div>
        <div class="p-field m-2">
          <label for="date">Fecha creación</label>
          <input id="date" type="date" formControlName="date" class="p-inputtext">
          <div class="p-invalid">
            <ng-container *ngIf="form['date'].invalid && form['date'].touched">
              <span class="text-red-500 scalein animation-duration-500 text-sm relative flex z-0">Este campo es
                requerido</span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mt-2 flex flex-row-reverse">
        <button type="button" pButton (click)="dialogRef.close()"
          class="p-button-sm p-button-secondary p-button-rounded m-1">
          Cancelar
        </button>
        <button (click)="onFormSubmit()" [disabled]="!formAddTask.valid" pButton
          class="p-button-sm p-button-success p-button-rounded m-1">
          Crear
        </button>
      </div>
    </form>
  </p-card>
</ng-container>
